*{
    box-sizing: border-box;
    font-family: sans-serif;
    
}

.bordeNegro{
    border: solid 1px;
}

body{
    height: 1600px;
    
}

header{
    display: flex;
    height: 6%;
    justify-content: center;
    background-color: #386499;
}

.contactos{
    display: flex;
    height: 80%;
    width: 30%;
    margin: 0px 20% 0px 0px ;
    justify-content: space-between
}

.contactos p{
    margin: auto ;
}



.redesSociales{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.redesSociales article{
    width: 8%;
    margin: 0px 2% ;
    height: 70%;
    border-radius: 20%;

}

.logoNav{
    padding: 0.5%;
    display: flex;
    height: 9%;
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 13%;
    margin: 0px 40% 0px 0px ;
    

}

.logo p {
    font-size: 25px;
    margin-left: 130%;
}

.buscadorSeccion{
    display: flex;
}

.buscador form input{
    margin-right: 10%;
}




.menu{
    
    display: flex;
    width: 40%;
    height: 90%;
    margin: 0px 0px 0px 10% ;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    
}


nav a{
    
    color: black;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
}

h2 {
    text-align: center;
    margin: 3% 0px;
    font-size: 30px;
}



.empleados{
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 80%;
    margin: 0px auto;
    
}

.tarjetaEmpleados{
    display: flex;
    width: 70%;
    background-color: #386499;
    margin: 2% auto ;
    height: 35%;
    color: white;
    border-radius: 20px;
    
}


.tarjetaEmpleados img {
    width: 30%;
    border: solid;
    
    height: 95%;
    margin: 5px ;
    border-radius:40%;
}

.tarjetaEmpleados p {
    margin: 5% 0px;
}

.informacionTarjetas{
    margin: 0px auto;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}




.productos{
    
    display: flex;
    height: 18%;
    margin-bottom: 5%;

}

.tarjeta {
     height: 100%;
     width: 20% ;
     margin: 0px auto;
     display: flex;
     flex-direction: column;
     
 }


.imagenEscogernos{
    border: solid;
    text-align: center;
    height: 75%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    margin: 0px auto;
}


.textoTarjeta{
    display: flex;
    text-align: center;
    height: 20%;
    margin: 0px 1%;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    
    
}

.textoTarjeta p{
    margin: 4px;
}

.imagenTarjeta{
    border: solid;
    margin: 0px auto;
    text-align: center;
    height: 70%;
    margin: 0px 1%;
    padding: 0px;
    
}



.textoTarjeta{
    border: solid;
    padding: 5%;
    height: 30%;
    text-align: center;
    margin: 0px 1%;
    
    
}

.textoTarjeta h1{
    margin: 2%;
    color: white;
    
}







footer{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 10%;
    align-items:  last baseline;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 2%;
    

}


@media  (min-width:480px) and (max-width:768px) {

    body{
        max-height: 1600px;
        
    }

    .contactos{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 1% 1% 0px 0px ;
    }

    .redesSociales{
        width: 70%;
    }

    .redesSociales article{
        width: 9.5%;
        margin: 0px 1% ;
    }

    .buscadorSeccion{
        display: flex;
        margin-right: 1%;
    }

    .logo{

        width: 20%;
        margin: 0px 10% 0px 0px ;
    }

    .logo p {
        font-size: 18px;
        margin-left: 15%;
        margin-bottom: 22%;
    }

    .menu{
        width: 63%;
    }


    .empleados{
        width: 100%;
        height: 35%;
        font-size: 15px;
    }

    .tarjetaEmpleados{
        
        width: 80%;
        height: 45%;
        
    }


    .informacionTarjetas{
        margin: 0px auto;
        display: flex;
        justify-content: space-evenly;
        width: 70%;
        text-align: center;
        
        align-items: center;
    }


    .productos{
        display: grid;
        gap: 1%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 25%;
        margin-bottom: 30%;
    }

    .tarjeta{
        width: 70%;
        height: 80%;
    }
    


    footer{
        height: 5%;
    }
}



@media (max-width:480px) {
    
    header{
        display: flex;
        flex-direction: column;
        height: 10%;
    }

    .contactos{
        flex-direction: row;
        width: 100%;
        height: 50%;
    }

    .redesSociales{
        width: 100%;
    }

    .redesSociales article{
        width: 12%;
        margin: 0px 1% ;
        height: 50%;
        border-radius: 30%;
    }


    .logoNav{
        padding: 0.5%;
        display: flex;
        height: 7%;
        justify-content: space-between;
    }
    

    nav{
        align-items: center;
    }
    .logo{

        width: 25%;
        margin: 0px 0px 0px 0px ;
    }

    

    .menu{
        
        width: 40%;
        
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .tituloNuestro{
        margin-top: 8%;
    }

    .empleados{
        justify-content: center;
        
    }

    .tarjetaEmpleados{
        width: 90%;
        height: 30%;

        
    }

    .informacionTarjetas{
        font-size: 15px ;
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr ;
        height: 50%;
        margin-bottom: 55%;
    }

    .tarjeta{
        width: 45%;
    }

    


    footer{
        font-size: 10px;
        height: 5%;
        margin-top: 3%;
    }
}