*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bordeNegro{
    border: solid 1px;
}

body{
    height: 2100px;
    
}

header{
    display: flex;
    height: 6%;
    justify-content: center;
}

.buscador{
    width: 5%;
}

.contactos{
    display: flex;
    height: 80%;
    width: 30%;
    margin: 0px 30% 0px 0px ;
}

.contactos p{
    margin: auto ;
}



.redesSociales{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.redesSociales article{
    width: 8%;
    margin: 0px 2% ;
    height: 50%;
    
    border-radius: 20%;

}

.logoNav{
    padding: 0.5%;
    display: flex;
    height: 9%;
}

.logo{
    height: 100%;
    width: 13%;
    margin: 0px 40% 0px 0px ;
    background-color: blue;
    background-image: url("logoSurtitiendas.jpg");
    background-size: cover;

}


.menu{
    
    display: flex;
   
    width: 40%;
    height: 90%;
    margin: 0px 0px 0px 10% ;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    
}

nav a{
    
    color: black;
    text-decoration: none;
    margin: 0px 15px;
}

.buscador form{
    border: none;
}

.tituloEscogernos{
    margin: 3% ;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

main {
    height: 50%;
    border: solid;
}

main h2{
    margin-left:1.5% ;
    text-align: center;
}


.productos{
    
    display: flex;
    height: 38%;
    margin-bottom: 5%;

}


.imagenEscogernos{
    border: solid;
    text-align: center;
    height: 75%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    margin: 0px auto;
}



.tarjeta {
   height: 100%;
    width: 30% ;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
    

}

.textoTarjeta{
    display: flex;
    text-align: center;
    height: 20%;
    margin: 0px 1%;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    
    
}

.textoTarjeta p{
    margin: 4px;
}

.imagenTarjeta{
    border: solid;
    margin: 0px auto;
    text-align: center;
    height: 70%;
    margin: 0px 1%;
    padding: 0px;
    
}


/* .compota{
    background-image: url("compota.jpg");
    background-size: cover;
    
} */

/* .yogurt{
    background-image: url("yogurt.png");
    background-size: cover;
} */

/* .activia{
    background-image: url("activia.png");
    background-size: cover;
} */

/* .leche{
    background-image: url("leche.png");
    background-size: cover;
    
    
} */

/* .gelatina{
    background-image: url("gelatina.png");
    background-size: cover;
} */

.textoTarjeta{
    border: solid;
    padding: 5%;
    height: 30%;
    text-align: center;
    margin: 0px 1%;
    
    
}

.textoTarjeta h1{
    margin: 2%;
    color: white;
    font-family: var(--e-global-typography-primary-font-family) , sans-serif;
    font-weight: var(    --e-global-typography-secondary-font-weight);
}

form{
    text-align: center;
    margin: 1% auto;
    width: 40%;
    border: solid;
}

.formularioDatos{
    padding: 4% 10%;
    width: 55%;
    margin: 0px auto;
}

.seccionFacturacion{
   
    border-top: solid;
    padding: 1%;
}

input[type="text"]{
    
    border-radius: 7%;
    width: 80%;
    border: solid;
}



footer{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 10%;
    align-items:  last baseline;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 2%;
    

}


@media (min-width:480px) and (max-width:768px){

    body{
        max-height: 2000px;
        
    }

    .logoNav{
        height: 6%;
        
    }

    .contactos{

        width: 50%;
        margin: 0px;
    }

    .redesSociales{
        width: 70%;
    }

    .redesSociales article{
        width: 9.5%;
        margin: 0px 0.5% ;
    }

    .buscadorSeccion{
        display: flex;
        margin-right: 1%;
    }

    .buscadorSeccion{
        line-height: 30px;
    }

    

    .logo{

        width: 20%;
        margin: 0px 10% 0px 0px ;
    }

    .menu{
        width: 63%;
        height: 100%;
    }
    
    main h2{
        margin-top: 8%;
    }

    .imagenTarjeta{
        height: 50%;
    }


    form{
       margin-top: 10%;
       padding: 5px;
       width: 50%;
    }

    .formularioDatos{
        padding: 0px;
        width: 70%;
    }
}


@media (max-width:480px) {
        
    header{
        display: flex;
        flex-direction: column;
        height: 10%;
    }

    .contactos{

        width: 100%;
        height: 50%;
    }

    .redesSociales{
        width: 100%;
        height: 40%;
    }

    .redesSociales article{
        width: 12%;
        margin: 0px 1% ;
        height: 50%;
        border-radius: 30%;
    }

    .logoNav{
        height: 6%;
        margin: 0px;
    }


    .logo{

        width: 35%;
        
    }

    .menu{
        width: 63%;
        margin: 0%;
        height: 100%;
    }

    nav{
        width: 100%;
        height: 70%;
        display: grid;
        gap: 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    main{
        height: 65% ;
        margin: 0px;
    }

    main h2{
        margin: 30px 0px;
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10%;
        height: 43%;
    }

    .tarjeta{
        width: 90%;
        height: 100%;

    }


    form{
        width: 80%;
        margin-top: 5%;
    }

    footer{
        text-align: center;
        font-size: small;
    }


}