*{
    box-sizing: border-box;
    font-family: sans-serif;
}

.bordeNegro{
    border: solid 1px;
}

body{
    height: 1800px;
    margin: 0px;
    
}

header{
    display: flex;
    height:5%;
    justify-content: center;
   
}

.buscador{
    width: 5%;
}

.contactos{
    display: flex;
    height: 80%;
    width: 30%;
    
    margin: 0px 20% 0px 0px ;
    justify-content: space-between;
}

.contactos p{
    margin: auto ;
}



.redesSociales{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.redesSociales article{
    width: 8%;
    margin: 0px 2% ;
    height: 50%;
    
    border-radius: 20%;

}

.logoNav{
    padding: 0.5%;
    display: flex;
    height: 9%;
    
}

.logo{
    display: flex;
    height: 100%;
    width: 13%;
    margin: 0px 40% 0px 0px ;
    
    align-items: center;
    
    justify-content: space-between;
    


}

.logo p {
    font-size: 25px;
    margin-left: 50% ;
    
}

.menu{
    
    display: flex;
   
    width: 40%;
    height: 90%;
    margin: 0px 0px 0px 10% ;
    justify-content: space-evenly;
    align-items: center;
}

nav{
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    
}

nav a{
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 0px 15px;
}

.buscador form{
    border: none;
}

.tituloEscogernos{
    margin: 3% ;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}

main {
    height: 50%;
    background-color: #083c64;
   
    
    
}

main h2{
    margin-left:1.5% ;
    text-align: center;
    
}


.productos{
    
    display: flex;
    height: 38%;
    margin-bottom: 5%;

}






.tarjeta {
   height: 100%;
    width: 30% ;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    
    margin: 5px;
    
    
    

}

.textoTarjeta{
    display: flex;
    text-align: center;
    height: 20%;
    margin: 0px 1%;
    padding: 0px;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    
    
    
}

.textoTarjeta p{
    margin: 4px;
}

.imagenTarjeta{
    margin: 0px auto;
    text-align: center;
    height: 70%;
    margin: 0px 1%;
    padding: 0px;
    
}


/* .compota{
    background-image: url("compota.jpg");
    background-size: cover;
    
} */

/* .yogurt{
    background-image: url("yogurt.png");
    background-size: cover;
} */

/* .activia{
    background-image: url("activia.png");
    background-size: cover;
} */

/* .leche{
    background-image: url("leche.png");
    background-size: cover;
    
    
} */

/* .gelatina{
    background-image: url("gelatina.png");
    background-size: cover;
} */

.textoTarjeta{
    
    padding: 5%;
    height: 30%;
    text-align: center;
    margin: 0px 1%;
    
    
}

.textoTarjeta h1{
    margin: 2%;
    color: white;
    font-family: var(--e-global-typography-primary-font-family) , sans-serif;
    font-weight: var(    --e-global-typography-secondary-font-weight);
}

form{
    text-align: center;
    margin: 2% auto 2% auto;
    width: 40%;
    border-radius: 30px;
    background-color: #386499;
    
}

form section input , textarea {

    background-color: #144c90;
    border: none;
    border-radius: 20px;
}

form section input[type="submit"] , input[type="reset"]{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: #0b4388;
    color: white;
    font-weight: bold;
}

.formularioDatos{
    padding: 4% 10%;
    width: 55%;
    margin: 0px auto;
}

.seccionFacturacion{
   
    
    padding: 1%;
}

input[type="text"]{
    
    border-radius: 7%;
    width: 80%;
    border: solid;
}



footer{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 5%;
    align-items:  last baseline;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 2%;
    

}


@media (min-width:480px) and (max-width:768px){

    body{
        max-height: 2000px;
        
        
    }

    .logoNav{
        height: 6%;
        
    }

    .contactos{
        display: flex;
        flex-direction: column;
        width: 40%;
        margin: 1% 2% 0px 0px ;
    }

    .redesSociales{
        width: 70%;
    }

    .redesSociales article{
        width: 9.5%;
        margin: 0px 0.5% ;
    }

    .buscadorSeccion{
        display: flex;
        margin-right: 1%;
    }

    .buscadorSeccion{
        line-height: 30px;
    }

    

    .logo{

        width: 20%;
        margin: 0px 10% 0px 0px ;
    }

    .logo p {
        font-size: 18px;
        margin-left: 15%;
        margin-bottom: 20%;
    }

    .menu{
        width: 70%;
        
    }
    
    main {
        height: 40%;
    }

    main h2{
        margin-top: 8%;
    }

    

    .imagenTarjeta{
        height: 50%;
    }


    form{
       
       padding: 5px;
       width: 50%;
       margin-bottom: 11%;
    }

    .formularioDatos{
        padding: 0px;
        width: 70%;
    }

    
}


@media (max-width:480px) {
    
    body {
        height: 1500px;
    }
    header{
        display: flex;
        flex-direction: column;
        height: 8%;
    }

    .contactos{
        flex-direction: row;
        width: 100%;
        height: 20%;
    }

    .redesSociales{
        width: 100%;
        height: 60%;
    }

    .redesSociales article{
        width: 12%;
        margin: 0px 1% ;
        height: 50%;
        border-radius: 30%;
    }

    .logoNav{
        display: flex;
        justify-content: space-evenly;
        height: 6%;
        margin: 0px;
    }

    nav{
        
        width: 50%;
        height: 100%;
        margin-left: 100px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    nav a{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 4px 0px;
    }
    .logo{

        width: 25%;
        margin: 0px 0px 0px 0px ;
        
    }

    .menu{
        width: 70%;
        height: 100%;
    }

    main{
        height: 40% ;
        margin: 0px;
    }

    main h2{
        margin: 30px 0px;
        color: white;
    }

    .imagenTarjeta{
        height: 100%;
    }

    .textoTarjeta{
        margin-top: 5%;
        color: white;
    }

    .productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1%;
        height: 53%;
    }

    .tarjeta{
        width: 90%;
        height: 100%;
        background-color: #386499;
        border-radius: 30px;
    }


    form{
        width: 80%;
        margin-top: 5%;
    }

    footer{
        text-align: center;
        font-size: small;
    }


}