*{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
    
}

.bordeNegro{
    border: solid 1px;
}

body{
    height: 1000px;
    
}

header{
    display: flex;
    height: 8%;
    justify-content: center;
}

.contactos{
    display: flex;
    height: 80%;
    width: 30%;
    margin: 0px 30% 0px 0px ;
}

.contactos p{
    margin: auto ;
}



.redesSociales{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.redesSociales article{
    width: 8%;
    margin: 0px 2% ;
    height: 70%;
    background-color: blue;
    border-radius: 20%;

}

.logoNav{
    padding: 0.5%;
    display: flex;
    height: 15%;
    
}

.logo{
    height: 100%;
    width: 13%;
    margin: 0px 40% 0px 0px ;
    background-color: blue;
    background-image: url("../imagenes/LOGO\ SURTITIENDAS.jpg") ;
    background-size: cover;

}


.menu{
    
    display: flex;
   
    width: 40%;
    height: 90%;
    margin: 0px 0px 0px 10% ;
    justify-content: space-around;
    align-items: center;
}


nav a{
    
    color: black;
    text-decoration: none;
    margin: 0px 15px;
}

main{
    text-align: center;
    margin-top: 1%;
    display: flex;
    
    height: 30%;
    /* background-image: url("../imagenes/img-quienes\ somos.png"); */
    background-size: cover;
    
}

main div h2{
    text-align: center;
}

.quienesSomos{
    margin: 1% 0px;
    height: 30%;
    padding: 1%;
}


.contenedorVision{
    height: 30%;
    margin: 1% 0px;
    padding: 1%;
}

.contenedorMision{
    height: 30%;
    margin: 1% 0px;
    padding: 1%;
}


.tituloEscogernos{
    margin: 3% ;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}


.seccionEscogernos{
    
    display: flex;
    height: 18%;
    margin-bottom: 4%;
    
}

.tarjetasEscogernos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    margin: 0px auto;
}





.imagenEscogernos{
    
    text-align: center;
    height: 75%;
    margin: 0px;
    padding: 0px;
    width: 70%;
    margin: 0px auto;
   
}


footer{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 13%;
    align-items:  last baseline;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 2%;
    

}


@media  (min-width:480px) and (max-width:768px) {

    body{
        max-height: 1600px;
        
    }

    .contactos{

        width: 50%;
        margin: 0px 0px 0px 0px ;
    }

    .redesSociales{
        width: 70%;
    }

    .redesSociales article{
        width: 9.5%;
        margin: 0px 1% ;
    }

    .buscadorSeccion{
        display: flex;
        margin-right: 1%;
    }

    .logo{

        width: 20%;
        margin: 0px 10% 0px 0px ;
    }

    .menu{
        width: 63%;
    }

    main{
        justify-content: center;
    }

    main div{
        font-size: 15px;
    }

    main div h2{
        text-align: center;
    }

    
    .imagenTarjeta{
        height: 40%;
    }

    .tarjetasEscogernos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        text-align: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 20%;
        margin: 0px auto;
    }
    
    .imagenEscogernos{
        
        text-align: center;
        height: 75%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        background-color: blue;
    }
    footer{
        height: 10%;
        font-size: 15px;
    }


}


@media (max-width:480px) {
        
    header{
        display: flex;
        flex-direction: column;
        height: 10%;
    }

    .contactos{

        width: 100%;
        height: 50%;
    }

    .redesSociales{
        width: 100%;
    }

    .redesSociales article{
        width: 12%;
        margin: 0px 1% ;
        height: 50%;
        border-radius: 30%;
    }


    .logo{

        width: 40%;
        margin: 0px 0px 0px 0px ;
    }

    .menu{
        width: 80%;
        margin: 1%;
    }

    nav{
        width: 80%;
        height: 70%;
        display: grid;
        gap: 10%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }



    main div{
        text-align: center;
        font-size: 15px;
        height: 60%;
        width: 100%
    }

    main div h2{
        text-align: center;
    }

    main div p {
        margin-left: 1%;
    }


    .seccionEscogernos{

        display: grid;
        gap: 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        height: 20%;
        
        
    }

    .tarjetasEscogernos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 60%;
        margin: 0px auto;
    }
    
    
    
    
    
    .imagenEscogernos{
        
        text-align: center;
        height: 75%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        background-color: blue;
    }

    

    footer{
        font-size: 12px;
        height: 5%;
        margin-top: 3%;
    }

    
    

}