*{
    box-sizing: border-box;
    font-family: sans-serif;
   
    
}

.bordeNegro{
    border: solid 1px;
}

body{
    height: 1000px;
    
}

header{
    display: flex;
    height: 8%;
    justify-content: center;
    background-color: #386499;
}

.contactos{
    display: flex;
    height: 80%;
    width: 30%;
    margin: 0px 20% 0px 0px ;
    justify-content: space-between
}

.contactos p{
    margin: auto ;
}



.redesSociales{
    height: 80%;
    width: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    

}

.redesSociales article{
    width: 8%;
    margin: 0px 2% ;
    height: 70%;
    border-radius: 20%;

}

.logoNav{
    padding: 0.5%;
    display: flex;
    height: 15%;
    
}

.logo{
    display: flex;
    align-items: center;
    height: 100%;
    width: 13%;
    margin: 0px 40% 0px 0px ;
    

}

.logo p {
    font-size: 25px;
    margin-left: 60%;
}


.buscadorSeccion{
    display: flex;
}

.buscador form input{
    margin-right: 10%;
}


.menu{
    display: flex;
    width: 40%;
    height: 90%;
    margin: 0px 0px 0px 5% ;
    justify-content: space-around;
    align-items: center;
}


nav a{
    
    color: black;
    text-decoration: none;
    margin: 0px 15px;
    font-weight: bold;
}

main{
    text-align: center;
    margin-top: 1%;
    display: flex;
    height: 35%;
     background-image: url("../imagenes/img-quienes\ somos.png"); 
    background-size: cover;
    
}

main div{
    height: 100%;
    background-color: rgb(255, 255, 255 , 0.7);
    text-align: center;
    height: 80%;
    margin: 2% 1%;
    border-radius: 10%;
    padding: 1%;
    
}

main div p{
    line-height: 150%;
}

.tituloEscogernos{
    margin: 3% ;
    font-size: xx-large;
    width: 100%;
    text-align: center;
}


.seccionEscogernos{
    
    display: flex;
    height: 18%;
    margin-bottom: 4%;
    
}

.tarjetasEscogernos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 20%;
    margin: 0px auto;
}





.imagenEscogernos{
    
    text-align: center;
    height: 75%;
    margin: 0px;
    padding: 0px;
    width: 70%;
    margin: 0px auto;
   
}

.textoEscogernos{
    font-size: larger;
    font-weight: 500;
}


footer{
    display: flex;
    background-color: gray;
    width: 100%;
    height: 13%;
    align-items:  last baseline;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: large;
    padding: 2%;
    

}


@media  (min-width:480px) and (max-width:768px) {

    body{
        max-height: 1600px;
        
    }

    .contactos{

        width: 50%;
        margin: 0px 0px 0px 0px ;
    }

    .redesSociales{
        width: 70%;
    }

    .redesSociales article{
        width: 9.5%;
        margin: 0px 1% ;
    }

    .buscadorSeccion{
        display: flex;
        margin-right: 1%;
    }

    .logo{

        width: 20%;
        margin: 0px 10% 0px 0px ;
    }

    .logo p {
        font-size: 18px;
        margin-left: 10%;
        margin-bottom: 23%;

    }

    .menu{
        width: 63%;
    }

    main{
        justify-content: center;
    }

    main div{
        font-size: 15px;
    }

    main div h2{
        text-align: center;
    }

    
    .imagenTarjeta{
        height: 40%;
    }

    .contenedorVision{
        height: 90%;
    }
    .contenedorMision{
        height: 90%;
    }

    .quienesSomos{
        height: 90%;
    }
    .tarjetasEscogernos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        
        text-align: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 20%;
        margin: 0px auto;
    }
    
    .imagenEscogernos{
        
        text-align: center;
        height: 75%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        
    }
    footer{
        height: 10%;
        font-size: 15px;
    }


}


@media (max-width:480px) {
        
    
    header{
        display: flex;
        flex-direction: column;
        height: 10%;
    }

    .contactos{
        flex-direction: row;
        width: 100%;
        height: 50%;
    }

    .redesSociales{
        width: 100%;
        
    }

    .redesSociales article{
        width: 12%;
        margin: 0px 1% ;
        height: 50%;
        border-radius: 30%;
    }

    .logoNav{
        padding: 0.5%;
        display: flex;
        height: 9%;
        justify-content: space-around;
    }

    .logo{

        width: 50%;
        margin: 0px 0px 0px 0px ;
    }

    .logo p {
        margin-top: 20%;
    }

    .menu{
        
        width: 30%;
        margin: 1%;
    }

    nav{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    nav a{
        margin: 2px;
    }

    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        
    }
    main div{
        text-align: center;
        font-size: 15px;
        height: 50%;
        width: 90%;
        font-size: 13px;
        
    }

    main div h2{
        text-align: center;
    }

    main div p {
        margin-left: 1%;
    }


    .seccionEscogernos{

        display: flex;
        flex-direction: column;
        height: 30%;
        margin-bottom: 200%;
        
        
    }

    .tarjetasEscogernos{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
        margin: 0px;
        padding: 0px;
        width: 60%;
        margin: 0px auto;
    }

    .tituloEscogernos{
        font-size: 30px;
    }
    
    
    
    
    
    .imagenEscogernos{
        
        text-align: center;
        height: 55%;
        margin: 0px;
        padding: 0px;
        width: 100%;
        margin: 0px auto;
        
    }

    

    footer{
        font-size: 12px;
        height: 5%;
        margin-top: 3%;
    }

    
    

}