/* Header logo */

*{
    box-sizing: border-box;
}

.tituloEmpresa {
    background-color: rgb(233, 36, 36);
    color: white;
    height: 50px;
    font-size: large;
    text-align: center;
    padding: 15px;
}

.tituloEmpresa p {
    margin: 0px;
    padding: 0px;
}


body {

    margin: 0px;
    padding: 0px;
}

.bordeNegro {
    border: solid black;
}

.seccionLogo {
    display: flex;
    height: 80px;


}

.logo {
    background-image: url("imagenes/logoSurtitiendas.jpg");
    background-size: cover;
    height: 100%;
    width: 80px;
}

/* Seccion de los logos de inicio de sesion */

.seccionInicio {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 5%;
}

.iniciarSesion,
.registrarte {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgb(233, 36, 36);

}



.registrarte p {
    display: none;
}

/* menu de busqueda */

.seccionMenu {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(233, 36, 36);
    width: 100%;

}

.opcionMenu {
    text-decoration: none;
    color: white;
    margin: auto;

}


/* seccion del buscador */
.seccionBuscador {

    display: flex;
    height: 30px;
    width: 100%;
    padding: 1px;
}

.buscador {
    width: 100%;
    padding: 2px;
}


.logoLupa {

    border-radius: 30px;
    background-color: rgb(233, 36, 36);
}


.buscador input {
    height: 25px;
    width: 50%;

}


.buscador input[type="submit"] {
    border-radius: 30px;
    background-color: rgb(233, 36, 36);
    border: none;
    width: 30%;
}


/* seccion productos */

main {
    
    margin-bottom: 100px;
    padding-top: 50px;
}



.tituloAlqueria{
    text-align: center;
}


.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.tarjeta {
    color: white;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    margin: 5px;
    
    
}

.textoTarjeta{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 5%;
   
}

.imagenTarjeta{
    margin: 0px auto;
    height: 100%;
   
}

.seccionBotonOrdenar{
    display: flex;
    justify-content: center;
    
}

.tarjeta button {
    text-decoration: none;
    color: white;
    padding: 2px;
    margin:10px 15px 0px 15px;
    background-color: rgb(233, 36, 36) ;
    border-radius: 5px;
    width: 60px;
    height: 30px;
}

.seccionBotones{
    display: flex;
    justify-content: center;
}


/* formulario */

.registro {
    
    
    margin: 0px auto 50px auto;
    text-align: center;
    background-color: #083c64;
    padding: 10px;
    border-radius: 20px;
    
}



/* seccion footer */

footer{
    background-color: rgb(233, 36, 36) ;
    height: 220px;
    color: white;
    text-align: center;
    width: 100%;
}

footer p{
    font-size: large;
}


.logoAlqueria{
    background-image: url("imagenes/logo-alqueria-blanco.png");
    background-size: cover;
    width: 200px;
    height: 60px;
    margin: 0px auto;
    
}


.seccionRedesSociales{
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-evenly;
}




@media (min-width:0px) and (max-width:320px){
    .seccionInicio {
        min-width: 100px;
        margin: 20px 0px 20px 0%;
    }

    .iniciarSesion,
    .registrarte {
        width: 30px;
        height: 35px;
    }

    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;

    }

    .buscador input {
        width: 60%;
    }

    .buscador input[type="submit"] {

        border-radius: 30px;
        background-color: rgb(233, 36, 36);
        border: none;
        width: 30%;
    }

    main{
        padding: 5px;
        width: 80%;
        margin: 0px auto;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .productos{
        flex-direction: column;  
    }

    .productos img{
        width: 150px;
        height: 150px;
    }

    .tarjeta{
        margin: auto;
    }

    

    .textoTarjeta{
        font-size: 18px;
        padding: 0px;
    }

    form {
        width: 90%;
        
    }
    
    
}


@media(min-width:321px) and (max-width:599px){

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 25px;
    }

    .iniciarSesion,
    .registrarte {
        width: 30px;
        height: 35px;
    }

    .simboloInicioSesion {
        width: 30px;
        height: 30px;
    }

    .seccionInicio {

        min-width: 200px;
        margin: 20px 0px 20px 10%;
    }

    .buscador input {
        height: 25px;
        width: 60%;

    }

    .buscador input[type="submit"] {
        width: 20%;
    }

    .seccionMenu {
        flex-direction: column;
    }

    .seccionMenu a {
        margin: 10px auto;
    }


    main{
        padding: 5px;
        width: 100%;
        margin: 0px auto;
        border-radius: 20px;
        margin-bottom: 50px;
    }

    .tarjeta{
        margin: auto;
    }

    .productos img{
        width: 200px;
        height: 200px;
    }

    .textoTarjeta{
        font-size: 18px;
        padding: 0px;
    }

    form {
        width: 60%;
        
        
    }
    

}

@media (min-width:600px) and (max-width:768px) {
    
    .seccionInicio {
        min-width: 200px;
        margin: 20px 0px 20px 50%;

    }
    

    .seccionMenu{
        height: 40px;
    }

    .buscador input {
        height: 25px;
        width: 60%;

    }

    .buscador input[type="submit"] {
        width: 80px;
    }

    main{
        
        padding: 20px;
        width: 80%;
        margin:  auto;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .productos img{
        width: 200px;
        height: 200px;
    }

    .tarjeta{
        height: 300px;
        
    }

    .imagenTarjeta{
        width: 40%;
        
    }

    .textoTarjeta{
        font-size: 18px;
        padding: 0px;
    }

    
    form {
        width: 40%;
        
    }
    


}



@media (min-width:769px) and (max-width:1250px){

    
    .tituloEmpresa {
        font-size: x-large;
    }

    a.opcionMenu {
        font-size: x-large;
    }

    .seccionInicio {
        margin: 20px 0px 20px 45%;
        width: 400px;
    }

    .buscador input {
        width: 20%;
    }

    .buscador input[type="submit"] {

        font-size: large;
        width: 100px;

    }

    .seccionMenu {
        height: 40px;
    }

    main{
        padding: 20px;
        width: 80%;
        margin: 0px auto;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .productos img{
        width: 250px;
        height: 250px;
    }

    .tarjeta{
        margin: auto;
    }

    .textoTarjeta{
        font-size: 18px;
        padding: 0px;
    }

    form {
        width: 40%;
        margin: 0px auto 50px auto;
        text-align: center;
        background-color: #083c64;
        padding: 20px;
        border-radius: 20px;
        
    }
   
}


@media (min-width:1250px) {

    .tituloEmpresa {
        height: 80px;
        padding: 25px;
        font-size: 30px;
    }

    .seccionInicio {
        min-width: 300px;
        margin: 20px 0px 20px 70%;
    }


    .buscador input {
        height: 25px;
        width: 300px;

    }

    

    .buscador input[type="submit"] {
        margin-left: 0%;
        border-radius: 30px;
        background-color: rgb(233, 36, 36);
        border: none;
        width: 10%;
        font-size: 20px;
    }

    .seccionMenu {
       
        height: 40px;
    }

    a.opcionMenu {
        font-size: x-large;
        
    }   


    main{
        padding: 50px;
        border-radius: 20px;
        margin-bottom: 100px;
    }

    .productos img{
        width: 250px;
        height: 250px;
    }

    

    .textoTarjeta{
        font-size: 18px;
        padding: 0px;
    }

    form {
        font-size: 20px;
        width: 40%;
        
    }

}