/* Header logo */

*{
    box-sizing: border-box;
}

.tituloEmpresa{
    background-color:rgb(233, 36, 36) ;
    color: white;
    height: 50px;
    font-size: large;
    text-align: center;
    padding: 15px;
    
    
    
}

.tituloEmpresa p{
    margin: 0px;
    padding: 0px;
}





body {
    
    margin: 0px;
    padding: 0px;
}
.bordeNegro{
    border: solid black;
}
.seccionLogo{
  display: flex;  
  height: 80px;
  
  
}

.logo{
    background-image: url("imagenes/logoSurtitiendas.jpg");
    background-size: cover;
    height: 100%;
    width: 80px;
}

/* Seccion de los logos de inicio de sesion */

.seccionInicio {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0px 20px 25%;
}

.iniciarSesion {
    width: 40px;
    border-radius: 30px;
    background-color:  rgb(233, 36, 36);
    
}

.registrarte{
    width: 40px;
    border-radius: 30px;
    background-color:  rgb(233, 36, 36);
}

.registrarte p {
    display: none;
}

/* menu de busqueda */

.seccionMenu{
    display: flex;
    justify-content: space-evenly;
    background-color:  rgb(233, 36, 36) ;
    height: 40px;
    width: 100%;
    
}

.opcionMenu{
    text-decoration: none;
    color: white;
    margin: auto;
    
}


/* seccion del buscador */
.seccionBuscador{
    
    display: flex;
    
    height: 30px;
    width: 100%;
    padding: 1px;
}

.buscador{
    width: 100%;
    padding: 2px;
}

.logoLupa{
    
    border-radius: 30px;
    background-color:  rgb(233, 36, 36);
}


.buscador input{
    height: 25px;
    width: 50%;
    
}


.buscador input[type = "submit"]{
    margin-left: 10%;
    border-radius: 30px;
    background-color:  rgb(233, 36, 36);
    border: none;
    width: 30%;
}





/* seccion footer */

footer{
    background-color: rgb(233, 36, 36) ;
    height: 220px;
    color: white;
    text-align: center;
    width: 100%;
}

footer p{
    font-size: large;
}


.logoAlqueria{
    background-image: url("imagenes/logo-alqueria-blanco.png");
    background-size: cover;
    width: 200px;
    height: 60px;
    margin: 0px auto;
    
}


.seccionRedesSociales{
    display: flex;
    width: 80%;
    margin: 10px auto;
    justify-content: space-evenly;
}




@media (min-width:350px) and (max-width:440px){
    .seccionInicio{
        min-width: 200px;
        margin: 20px 0px 20px 30%;
    }

    
}


@media(min-width:440px) and (max-width:600px){

    .tituloEmpresa{
        height: 80px;
        padding: 25px;
        font-size: 25px;
    }
    .seccionInicio{

        min-width: 200px;
        margin: 20px 0px 20px 40%;

    }

     .buscador input{
        height: 25px;
        width: 60%;
     
    }

    

    .buscador input[type = "submit"]{
        margin-left: 10%;
        border-radius: 30px;
        background-color:  rgb(233, 36, 36);
        border: none;
        width: 20%;
    }
    
    

}

@media (min-width:600px) and (max-width:768px) {
    
    .seccionInicio{

        min-width: 200px;
        margin: 20px 0px 20px 60%;

    }

    .buscador input{
        height: 25px;
        width: 60%;
     
    }

    .buscador input[type = "submit"]{
        margin-left: 10%;
        border-radius: 30px;
        background-color:  rgb(233, 36, 36);
        border: none;
        width: 20%;
    }



}



@media (min-width:769px) and (max-width:1250px){

    
    .seccionInicio{

        min-width: 200px;
        margin: 20px 0px 20px 65%;

    }

    .buscador input{
        height: 25px;
        width: 60%;
     
    }

    .buscador input[type = "submit"]{
        margin-left: 20%;
        border-radius: 30px;
        background-color:  rgb(233, 36, 36);
        border: none;
        width: 15%;
    }

   
}


@media (min-width:1250px) {

    .tituloEmpresa{
        height: 80px;
        padding: 25px;
        font-size: 30px;
    }

    .seccionInicio{
        min-width: 300px;
        margin: 20px 0px 20px 70%;
    }


    .buscador input{
        height: 25px;
        width: 89%;
     
    }
    .seccionMenu{
        font-size: 25px;
    }

    .buscador input[type = "submit"]{
        margin-left: 0%;
        border-radius: 30px;
        background-color:  rgb(233, 36, 36);
        border: none;
        width: 10%;
        font-size: 20px;
    }

   

}